# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should always use LF
*.sh text eol=lf

# Windows batch files should use CRLF
*.bat text eol=crlf

# Text files should use LF
*.txt text eol=lf
*.md text eol=lf

